
<p>
  <strong>From:</strong>
  <%= comment.commenter %>
</p>

<p>
  <i>
  <%= comment.body %>
</i>
</p>

<p>
  <%= link_to 'Remove Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
