<h1>Projects</h1>
<% @articles.each do |article| %>
<div id="products" class="row list-group">
  <div class="item  col-xs-12 col-lg-12">
    <div class="thumbnail">
      <img class="group rounded list-group-image" src="<%= article.thumbnail_url %>" alt="" width="150px" />
      <div class="caption">
        <a href="<%= article_path(article) %>">
          <h4 class="group inner list-group-item-heading">
              <%= article.title %></h4>
          <p class="group inner list-group-item-text">
              </p>
          <div class="row">
              <div class="col-xs-12 col-md-6">
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<% end %>
