<h1>Projects</h1>
<% if user_signed_in? %>
  <div id="wrapper" style="text-align: center">
    <a href="<%= request.fullpath %>/new">
    <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
  </a>
  </div>
<% end %>

<% @articles.each do |article| %>
<div id="products" class="row list-group">
  <div class="item  col-xs-12 col-lg-12">
    <div class="thumbnail" >
      <a href="<%= article_path(article) %>">
      <img class="img-rounded img-fluid img-thumbnail" src="<%= article.thumbnail_url %>" alt="" height="200px"/>
      <div class="caption">

          <h3 align="center" class="group inner list-group-item-heading">
              <%= article.title %></h3>
          <p class="group inner list-group-item-text">
              </p>
          <div class="row">
              <div class="col-xs-12 col-md-6">
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<% end %>
