<h1>1 Addres Rd <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a></h1>
<hr>
<p>This is what you need to do</p>
</br>
<%= link_to articles_path, :class => 'btn' do %>
    <i class="fa fa-play fa-5x" aria-hidden="true"></i>
  <% end %>
</br></br></br>
