.navbar.center .navbar-inner {
    text-align: center;
    color: #FFFFFF;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    color: #FFFFFF;
}
.center h1{
    color: #FFFFFF;
}
.header li{
	color: #FFFFFF;
}
