<nav class="navbar navbar-inverse bg-inverse center">
 <div class="navbar-inner">
  <ul class="nav navbar-nav">
    <li class="nav-item nav-inverse header">
      <a href="http://www.chad-olliffe.com/"><%= image_tag("profile.jpg", :class => "img-circle", style:"height: 165px; width: 135px;" ) %></a>
      <h2 class="header">CHAD OLLIFFE</h2>
	<a href="https://github.com/odd13" class="header" target="_blank"><i class="fa fa-github fa-3x fa-fw" aria-hidden="true"></i></a>
  <a href="mailto:chadolliffe@gmail.com" class="header"><i href="www.google.com" class="fa fa-envelope fa-3x fa-fw" aria-hidden="true"></i></a>
  <a href="<%= articles_path %>" class="header" data-toggle="tooltip" title="Projects"><i class="fa fa-book fa-3x fa-fw" aria-hidden="true"></i></a>
	<!-----Spoton :: Notification :: Todo :: Portfolio-->
    </li>
  </ul>
</div>
</nav>
