<nav class="navbar navbar-inverse bg-inverse center">
 <div class="navbar-inner">
  <ul class="nav navbar-nav">
    <li class="nav-item nav-inverse header">
      <h1 class="header">CHAD OLLIFFE</h1>
      
	GitHub </br>	
	Spoton :: Notification :: Todo :: Portfolio
    </li>
  </ul>
</div>
</nav>
